@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #b5d3d6;
  color: #426b5e;
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  width: 100vw;
  text-align: center;
}
.box {
  background-color: #426b5e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 120px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px grey;
  transform: translateX(300%);
  transition: transform 0.2s ease;
}
.box:nth-of-type(even) {
  transform: translateX(-300%);
}
.box.show {
  transform: translateX(0);
}
.box h2 {
  font-size: 25px;
  text-align: center;
}
